

<h1>Ingrese su consulta MYSQL</h1>
<form method="post" action="/">
  <textarea name="query" rows="4" cols="30"></textarea><br />
  <input type="submit" />
</form>


<table>
  <thead>
    {{#each resultados }}
<td>{{this.name}}</td>
{{/each}}
  </thead>
  <tbody>

{{#each resultados }}
    <tr>
      {{#each columnas}}
      <td>{{this.id}}</td>
      <td>{{this.nombre}}</td>
      <td>{{this.comidaPreferida}}</td>
      <td>{{this.fechaNacimiento}}</td>
      {{/each}}
    </tr>
{{/each}}
  </tbody>
</table>





<style >
textarea{

  resize: vertical;
   min-height: 60px;
   max-height: 300px;
 }

</style>
